
@model Edu.UI.Areas.School.Models.ChangeSchoolPasswordViewModel
@{
    ViewBag.Title = "重置密码";
}


<div class="page-header">
    <div class="pull-left">
        <h4 class="title">@ViewBag.Title</h4>
    </div>
</div>
<div class="container">

    <div class="row">
        <div class="col-md-offset-2 col-md-7">
            <div class="panel panel-default" style="">
                <div class="panel-heading">
                    <label>@ViewBag.Title</label>
                </div>
                <div class="panel-body">

                    @using (Ajax.BeginForm("schoolpwd", "schoolsys", new AjaxOptions { HttpMethod = "post" ,OnSuccess = "chgPwd" }, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                       
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" ,@autocomplete="off"})
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="确认更改" class="btn btn-default" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Areas/School/Public/js/SchoolSys/schoolPwd.js"></script>