<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @RenderSection("style", required: false)
    @Scripts.Render("~/bundles/jquery")
</head>

<body>
    <div id="" class="showbox">
        <div id="skinbox"></div>
        <div class="navbar pull-right">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">前台首页</a>
                </li>
                <li>|</li>
                <li>
                    <a href="#">收藏</a>
                </li>
            </ul>

        </div>
        <div class="container">
            @RenderBody()
        </div>
       
        @Scripts.Render("~/bundles/bootstrap")
      
        @RenderSection("scripts", false)
    </div>
    

</body>

</html>
